$uux-padding-y: uux-spacings(3);
$uux-padding-x: uux-spacings(6);
$uux-padding-y-xs: uux-spacings(1);
$uux-padding-x-xs: uux-spacings(4);
$uux-padding-y-sm: uux-spacings(2);
$uux-padding-x-sm: uux-spacings(4);
$uux-padding-y-lg: uux-spacings(4);
$uux-padding-x-lg: uux-spacings(8);

$uux-line-height: 20/16;
$uux-line-height-xs: 16/14;
$uux-line-height-sm: 18/14;
$uux-line-height-lg: 26/18;