$uux-colors: (
  white: #ffffff,
  grey-10: #f7f7f7,
  grey-20: #ededed,
  grey-30: #cccccc,
  grey-40: #b2b2b2,
  grey-50: #999999,
  grey-60: #808080,
  grey-70: #666666,
  grey-80: #4c4c4c,
  grey-90: #333333,
  grey-100: #1a1a1a,
  grey-blue-10: #f5f7f7,
  grey-blue-20: #e6e9eb,
  grey-blue-30: #c6cacc,
  grey-blue-40: #adb0b2,
  grey-blue-50: #8a9199,
  grey-blue-60: #667380,
  grey-blue-70: #3d5266,
  grey-blue-80: #2e3d4c,
  grey-blue-90: #1f2933,
  grey-blue-100: #0f141a,
  black: #000000,
  blue-10: #e5f0ff,
  blue-20: #bfd8ff,
  blue-30: #80b0ff,
  blue-40: #4c91ff,
  blue-50: #1a71ff,
  blue-60: #0058e6,
  blue-70: #004ecc,
  blue-80: #003b99,
  blue-90: #002c73,
  blue-100: #001d4c,
  green-50: #21ca9c,
  red-50: #f30041
);